html,body {
  font-size: 10px; /* Root or Base font size */
  margin: 0;
  transition: font-size 0.5s linear;
}

.container {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  font-size: 20px;
}

.landingPage {
  background-color: dodgerblue;
  height: 80vw;
}

.vw {
  background-color: limegreen;
  width: 50vw;
  height: 200px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 1.3rem;
}

.bill {
  width: 30rem;
}

h1 {
  color: black;
}

@media ( min-width: 500px ) {
  h1 {
    color: red;
  }
}

.media {
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  transition: background-color 0.5s linear;
}

@media (max-width: 400px) {
  .media {
    background-color: rgb(255, 0, 0);
  }
}

@media (min-width: 401px) and (max-width: 800px) {
  .media {
    background-color: rgb(0, 255, 0);
  }
}

@media (min-width: 801px) and (max-width: 1100px) {
  .media {
    background-color: rgb(0, 0, 255);
  }
}

/*
The default font size to be 10px

If it is a tablet (between 720px and 1280px), we want the default font size to be 14px

If it is a phone (under 720px), we want the default font size to be 16px

Add a transition to font size changes
*/

@media (max-width: 720px) {
  body,html {
    font-size: 26px;
  }

  .bill {
    display: none;
  }
}

@media (min-width: 721px) and (max-width: 1280px) {
  body,html {
    font-size: 20px;
  }
}
